/* RESET CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, cente,dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* REAL CSS */
* {
	font-family: "acuta", serif;
	font-weight: 300;
	color: #36393B;
}
h1, h2, h3, h4, h5, h6 {
	color: #696758;
	text-align: center;
}
a {
	color: #45484B;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6, strong {
	font-weight: 500;
}
body {
	background-color: #EEE6AB;
	line-height: 1;
}
header, footer {
	background-color: #C5BC8E;
	text-align: center;
}
header {
	padding: 30px;
}
header h1, header h2 {
	text-align: center;
}
header h1 {
	font-size: 65px;
}
header h2 {
	font-size: 25px;
	margin-top: 8px;
}
footer {
	padding: 10px;
	margin-top: 30px
}
footer p {
	margin: 10px 0 10px 0;
	text-align: center;
	font-size: 18px;
}
#content {
	width: 720px;
	margin: 0 auto;
}
.typekit-badge {
	display: none !important;
}
#content p {
	font-size: 21px;
	line-height: 27px;
	hyphens: auto;
	-moz-hyphens: auto;
	text-align: justify;
	margin: 20px 0;
}
h3 {
	font-size: 25px;
	margin-bottom: 10px;
}
nav ul li {
	float: left;
	font-size: 18px;
	line-height: 25px;
	height: 35px;
	margin: 5px;
}
nav ul {
	margin: 0 auto 5px auto;
	width: 720px;
}
nav {
	height: 35px;
	margin-bottom: 30px;
}
#content #title {
	font-variant: small-caps;
	font-size: 18px;
	font-weight: 500;
	color: #696758;
}